@font-face {
    font-family: 'Starstruck';
    src: url('../font/Starstruck.ttf') format('truetype');
}
@font-face {
    font-family: 'Metal Gothic Demo';
    src: url('../font/MetalGothic-DemoVersion-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
* {
    box-sizing: border-box;
}
body {
    background-color: #000;
    color: #fff;
    font-family: 'Old Standard TT', serif;
    margin: 0;
    padding: 0;
    position: relative;
    overflow-y: auto;
    text-decoration: #DDA8F6;
    overflow-x: hidden;
}

p{
    font-family: 'Old Standard TT', serif;
    font-size: 17px;
    line-height: 1.8;
    max-width: 600px;
    text-align: left;
    margin: 20px 0 20px 0;
    padding-bottom: 50px;
    text-decoration: #DDA8F6;
}

p a {
    text-decoration: none;
    color: #DDA8F6;
}


body::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 55%;
    height: 45%;
    background: #DDA8F6;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    z-index: -1;
}

h1 {
    font-family: 'Starstruck', sans-serif;
    font-size: 70px;
    margin-top: 50px;
    font-weight: 100;
    color: #fff;
}

h2 {
    font-family: 'Metal Gothic Demo', sans-serif;
    font-weight: 100;
    font-size: 50px;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 75px;
}

h3, h4, h5 {
    font-family: 'Metal Gothic Demo', sans-serif;
    font-weight: 100;
    color: #fff;
}

h4 {
    font-size: 24px;
    margin: 30px 0;
}

h5 {
    font-size: 20px;
    margin-bottom: 20px;
}


nav {
    padding: 10px 0;
    text-align: left;
    margin-left: 40px;
}

nav a {
    color: #DDA8F6;
    text-decoration: none;
    font-family: 'Metal Gothic Demo', sans-serif;
    font-size: 22px;
    margin-right: 45px;
    transition: 0.3s;
}

nav a:first-child {
    margin-right: 450px; 
    padding-left: 80px;
}
.title {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.title h1 {
    margin: 0;
    font-size: 70px;
}

.title img {
    width: 250px;
    height: 250px;
}
.content {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0 5%;
    padding-bottom: 30px;
}
.text {
    padding-left: 20px;
    text-align: left;
}
.image {

    flex: 0 0 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    padding-right: 50px;
    padding-bottom: 60px;
}
.image img:hover {
    transform: scale(1.05); 
}

.wrld {
    font-size: 14px !important;
    font-family: 'Old Standard TT', serif;
    font-weight: normal;
    text-transform: lowercase;
    letter-spacing: 0.05em;
    margin: 0 25px;
    color: #DDA8F6;
}
.second {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}


.friends img {
    width: 400px;
    height: auto;
    border-radius: 5px;
}
.friends img:hover {
    transform: scale(1.05); 
}

.friends p {
    font-family: 'Metal Gothic Demo', sans-serif;
    font-size: 22px;
    max-width: 600px;
    text-align: center;
    text-decoration: #DDA8F6;
}

.film {
    display: flex;
    justify-content: center;
}
.film img {
    width: 100%;
}

footer {
    background-color:  #DDA8F6;

    font-family: 'Old Standard TT', serif;
    text-align: center;
    
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    font-family: 'Metal Gothic Demo', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
}

.social-links a {
    color: #000;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s ease;
    padding: 5px 15px;
}

.social-links a:hover {
    color: darkmagenta;
}
