@font-face {
    font-family: 'Starstruck';
    src: url('../font/Starstruck.ttf') format('truetype');
}

@font-face {
    font-family: 'Metal Gothic Demo';
    src: url('../font/MetalGothic-DemoVersion-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #000;
    color: #fff;
    font-family: 'Old Standard TT', serif;
    margin: 0;
    padding: 0;
    position: relative;
    overflow-y: auto;
}

nav {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
    
    background-color: #DDA8F6; /* Pink background */
    padding: 10px 0;
    text-align: left;
    margin-left: 40px;
}

nav a {
    color: white;
    text-decoration: none;
    font-family: 'Metal Gothic Demo', sans-serif;
    font-size: 22px;
    margin-right: 45px;
    transition: 0.3s;
    
}

nav a:first-child {
    margin-right: 450px; /* Larger space for "AYA" */
    padding-left: 80px;
    font-weight: 100;
}

h1 {
    font-family: 'Starstruck', sans-serif;
    font-size: 64px;
    margin-top: 50px;
    font-weight: 100;
    color: #fff;
}

h2 {
    font-family: 'Starstruck', sans-serif;
    font-size: 32px;
    color: #fff;
}

.artist-container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.artist {
    text-align: center;
    max-width: 300px;
}

.artist img {
    width: 100%;
    height: auto;

}

p {
    font-family: 'Old Standard TT', serif;
    font-size: 18px;
    line-height: 1.8;
    max-width: 600px;
    text-align: left;
    margin: 20px 0;
    padding-bottom: 50px;
    margin-left: 0;
    text-decoration: #DDA8F6;
}