@font-face {
    font-family: 'Starstruck';
    src: url('../font/Starstruck.ttf') format('truetype');
}
@font-face {
    font-family: 'Metal Gothic Demo';
    src: url('../font/MetalGothic-DemoVersion-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}