@font-face {
    font-family: 'Starstruck';
    src: url('../font/Starstruck.ttf') format('truetype');
}

@font-face {
    font-family: 'Metal Gothic Demo';
    src: url('../font/MetalGothic-DemoVersion-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body {
    background-color: #000;
    color: #fff;
    font-family: 'Old Standard TT', serif;
    margin: 0;
    padding: 0;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}

nav {
    background-color: #DDA8F6;
    padding: 10px 0;
    text-align: left;
}


nav a {
    color: black;
    text-decoration: none;
    font-family: 'Metal Gothic Demo', sans-serif;
    font-size: 22px;
    margin-right: 55px;
    transition: 0.3s;
    line-height: 1.5; /
}

nav a:first-child {
    margin-right: 72%;
    padding-left: 80px;
    font-weight: 100;
}

h1 {
    font-family: 'Starstruck', sans-serif;
    font-size: 64px;
    text-align: center;
    font-weight: 100;
    color: #fff;
    padding-top: 100px;
    padding-bottom: 40px;
}


.archive {
    font-size: 20px !important;
    font-family: 'Old Standard TT', serif;
    font-weight: normal;
    text-transform: lowercase;
    letter-spacing: 0.05em;
    margin: 0 25px;
    color: #DDA8F6;
}

h2 {
    font-family: 'Metal Gothic Demo', sans-serif;
    font-weight: 100;
    font-size: 50px;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    padding-bottom: 65px;
    padding-top: 20px;
}

h4, h5 {
    font-family: 'Metal Gothic Demo', sans-serif;
    font-weight: 100;
    color: #fff;
}

h3 {
    font-family: 'Metal Gothic Demo', sans-serif;
    font-weight: 100;
    font-size: 50px;
    color: #fff;
    padding: 10px 0;
}
h5 {
    font-size: 20px;
}


.artist-container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.artist {
    text-align: center;
    max-width: 300px;
}

.artist img {
    width: 100%;
    height: auto;
    border: 5px solid pink; 
    border-radius: 5px;
}
.artist img:hover {
    transform: scale(1.05); 
}

.visual-container {
    display: flex;
    justify-content: center;
    margin: 20px;
    gap:150px;
}

.visual {
    text-align: center;
}

.visual img {
    width: 600px;
    height: 800px;
    border: 5px solid pink; 
    border-radius: 5px;
}
p {
    font-family: 'Old Standard TT', serif;
    font-size: 16px;
    line-height: 1.8;
    max-width: 600px;
    text-align: left;
    margin: 20px 0;
    padding-bottom: 50px;
    padding-top: 50px
    text-decoration: #DDA8F6;
}

.mix {
    align-items: center;
    font-size: 14px !important;
    font-family: 'Old Standard TT', serif;
    font-weight: normal;
    text-transform: lowercase;
    letter-spacing: 0.05em;
    color: #DDA8F6;
    margin: 0 20px;
}


footer {
    background-color: #222;
    color: white;
    padding: 30px 0;
    font-family: 'Old Standard TT', serif;
    text-align: center;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    font-family: 'Metal Gothic Demo', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.social-links a {
    color: #DDA8F6;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s ease;
    padding: 5px 15px;
}

.social-links a:hover {
    color: darkmagenta;
}